<div class="h-card">
	<h3>My <a href="https://microformats.org/wiki/h-card">h-card</a>
  <span class="p-name">{{ .Get "name" }}</span>
  <span class="p-honorific-prefix">{{ .Get "honorific" }}</span>
  <span class="p-given-name">{{ .Get "given-name" }}</span>
  <abbr class="p-additional-name">{{ .Get "middle-name" }}</abbr>
  <span class="p-family-name">{{ .Get "family-name" }}</span>
  <span class="p-nickname">{{ .Get "nickname" }}</span>
	<a class="u-url" href="{{ .Site.Params.baseurl }}">{{ .Site.Params.title }}</a>
	<a class="u-key" href="{{ .Get 'key-url' }}">My Public Key</a>
</div>
